default_username='admin'
default_password='admin'
http_version='https'
default_node_ip='192.168.1.1'
node_subnet_mask='255.255.255.0'
node_letters='["a", "b", "c", "d"]'
retry_wait_time=2
verify=False
increment=False
node_model='auto'