DEFAULT_USERNAME='admin'
DEFAULT_PASSWORD='admin'
HTTP_VERSION='https'
DEFAULT_NODE_IP='192.168.1.1'
NODE_SUBNET_MASK='255.255.255.0'
NODE_LETTERS='["a", "b", "c", "d"]'
RETRY_WAIT_TIME=2
VERIFY=False
INCREMENT=False